<section class="add-user-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="firstname" placeholder="First Name" />
    <input type="text" formControlName="lastname" placeholder="Last Name" />
    <input type="text" formControlName="username" placeholder="*Username" />
    <input type="email" formControlName="email" placeholder="*Email" email />
    <div class="button-container">
      <button type="submit" [disabled]="!form.valid">Add New User</button>
    </div>
  </form>
</section>
