<section class="edit-user-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="firstname" placeholder="First Name" />
    <input type="text" formControlName="lastname" placeholder="Last Name" />
    <input type="text" formControlName="username" placeholder="*Username" />
    <input type="email" formControlName="email" placeholder="*Email" />
    <div class="button-container">
      <button type="submit" [disabled]="!form.valid">Update User</button>
    </div>
  </form>
  <div class="button-container">
    <button
      type="button"
      class="remove-button"
      *ngIf="!isAttemptingDelete"
      (click)="toggleDeleteConfirmation()"
    >
      Remove User
    </button>
    <div *ngIf="isAttemptingDelete">
      <p class="cancel-text">You sure? This action can't be undone.</p>
      <div class="delete-buttons">
        <button class="confirm-button" (click)="removeUser()">Yes</button>
        <button class="cancel-button" (click)="toggleDeleteConfirmation()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</section>
