.directory {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.directory-header-row,
.directory-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.directory-row {
  .name {
  }

  .email {
  }
}
